<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->

    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    <!--说明：
    xsi:type="File"指定输出到文件类型；
    name ="file_info"指定target的名字；
    fileName="${basedir}/Logs/NlogBlog_${level}_${shortdate}.txt"指定输出文件的具体名。
        其中${basedir}的意思是程序所在的路径； ${level}的意思是日志的等级； ${shortdate}的意思是日期（具体到日）"
    layout="${longdate} ${message}"指定输出文件内容的样式（可自由定义）；
        其中${longdate}的意思是日期（具体到毫秒），${message}是你具体要输出的内容。
    -->
    <target xsi:type="File" name ="file_info1" fileName="D:/SWLog/Standard/NormalLog/THLLog/${date:format=yyyy}/${date:format=MM}/${shortdate}.log"
		   layout="[${longdate}]  [System]  ${message}" encoding="UTF-8"/>
  </targets>

  <rules>
    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
    <logger name="System" levels="Info" writeTo="file_info1"/>
  </rules>
</nlog>